.skill__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.4rem;
}

.skill__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.8rem 1rem;
    border-radius: 1.25rem;
}

@media screen and (max-width: 992px) {
    .skill__container {
        grid-template-columns: max-content;
        row-gap: 0.4rem;
    }
}

@media screen and (max-width: 576px) {
    .skill__container {
        grid-template-columns: 1fr;
    }
    .skill__content {
        padding: 0.6rem;
        border-radius: 0.4rem;
    }
}

@media screen and (max-width: 350px) {

}